{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "browsers": [">0.25%", "ie 11", "not op_mini all"]
        },
        "useBuiltIns": "entry"
      }
    }]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}